

<section id="login-page">
  <h1 class="welcome">Rutherford<span>Rocket</span>Labs</h1>
  <h2 clas="weclome">It's rocket science!</h2>
  <aside class="employee-login">
      <h3>Login</h3>
    <% if defined? @error %>
    <div class="errors">
      <p><%= @error %></p>
    </div>
    <% end %>
    <%= form_tag login_path, method: :post%>
    Employee Number: <%= text_field_tag :employee_id %>
    Password: <%= password_field_tag :password %>
    <%= submit_tag 'login', class: 'submit-button' %>
  </aside><!-- end employee login -->
  <aside id="mission-statement">
    <h3 class="top-mission-statement">Mission Statement</h3>
    <p>It is our ongoing drive to be the very best in rocket science engineering. For 13 years we have been the leaders of research and technology, implementation, and prototyping rocket parts for clients across the universe.  Our ongoing mission is to provide excellence in design and execution of our products. We look forward to working with your company. It's not rocket science how good we are!</p>
  </aside><!-- end missions statement -->
</section><!-- end login page -->
