

<section id="login-page">
  <aside class="employee-login">
      <h2>Login</h2>
    <% if defined? @error %>
    <div class="errors">
      <p><%= @error %></p>
    </div>
    <% end %>
    <%= form_tag login_path, method: :post%>
    Employee Number: <%= text_field_tag :employee_id %>
    Password: <%= password_field_tag :password %>
    <%= submit_tag 'login', class: 'login-button' %>
  </aside><!-- end employee login -->
  <aside id="mission-statement">
    <h3>Mission Statement</h3>
    <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before. Astronomy compels the soul to look upward, and leads us from this world to another.We are all connected; To each other, biologically. To the earth, chemically. To the rest of the universe atomically.</p>
  </aside><!-- end missions statement -->
</section><!-- end login page -->
