<section id="new-employee-page">
  <h2>New Employee</h2>

  <% if defined? @errors %>
    <div class="errors">
      <% @errors.each do |error| %>
      <p><%= error %></p>
    </div>
      <% end %>
  <% end %>
  <%= form_for @employee, url: employees_path do |f| %>
    <%= f.label :first_name%>
    <%= f.text_field :first_name %>
    <%= f.label :last_name%>
    <%= f.text_field :last_name %>
    <%= f.label 'Employee Id'%>
    <%= f.text_field :employee_id %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label "Warehouse: " %>
    <%= f.select(:warehouse_id) do %>
      <% Warehouse.all.each do |w| %>
      <%= content_tag(:option, w.location_code, value: w.id) %>
      <% end %>
    <% end %>
    <br>
    <br>
    <br>
    <%= f.label(:is_manager, "Check if this employee is a manager")%>
    <%= f.radio_button(:is_manager, 'true') %>
    <%= f.label(:is_manager_employee, "Check if this employee is not a manager")%>
    <%= f.radio_button(:is_manager, 'false') %>

    <%= f.submit "Create Employee", class: 'submit-button' %>


  <% end %>
</section>
