<section id="new-parts-page">
  <%= form_for :part, url: parts_path, html: {class: 'new-parts-form'} do |f| %>
  <h2>Parts Order Form</h2>
  <%= render '/layouts/flash' %>

  <ul class="new-parts-ul">
    <%= render 'new_line' %>
  </ul>

  <%= link_to "Add New Line", new_line_path, class: 'new-part' %>
  <%= f.submit "Place Order", class: 'submit-button order-parts' %>
  <% end %>
</section><!-- end new order page -->
