<style>
.borg li {
  float: left;
}

</style>

<section id="new-parts-page">
  <%= form_for :order, url: parts_path do |f| %>
  <h2>Parts Order Form</h2>
  <ul class="borg">
    <li>
      <%= f.label "Part Number" %>
      <select class="" name="part_no[]">
        <% Part.number_and_name.each do |part| %>
        <option value=<%= part %>> <%= part %> </option>
        <% end %>
      </select>
      <%= f.label "Quantity"%>
      <input class="part-quantity" type="text" name="quantity[]" value="">
    </li>
    <li>
      <%= f.label "Part Number" %>
      <select class="" name="part_no[]">
        <% Part.number_and_name.each do |part| %>
        <option value=<%= part %>> <%= part %> </option>
        <% end %>
      </select>
      <%= f.label "Quantity"%>
      <input class="part-quantity" type="text" name="quantity[]" value="">
    </li>
    <li>
      <%= f.label "Part Number" %>
      <select class="" name="part_no[]">
        <% Part.number_and_name.each do |part| %>
        <option value=<%= part %>> <%= part %> </option>
        <% end %>
      </select>
      <%= f.label "Quantity"%>
      <input class="part-quantity" type="text" name="quantity[]" value="">
    </li>
    <li>
      <%= f.label "Part Number" %>
      <select class="" name="part_no[]">
        <% Part.number_and_name.each do |part| %>
        <option value=<%= part %>> <%= part %> </option>
        <% end %>
      </select>
      <%= f.label "Quantity"%>
      <input class="part-quantity" type="text" name="quantity[]" value="">
    </li>

    <%= f.submit "Place Order", class: 'submit-button' %>
  </ul>

  <!-- <% if defined? @errors %>
    <div class="errors">
      <% @errors.each do |error| %>
      <p class="errors"><%= error %></p>
    </div>
      <% end %>
  <% end %>
    <%= f.label 'Part Number' %>
    <%= f.select("part_id[1]") do %>
      <% Part.all.map(&:part_no).uniq.each do |p| %>
      <%= content_tag(:option, p, value: p) %>
      <% end %>
    <% end %>
    <%= f.label 'Quantity' %>
    <%= f.text_field "quantity[1]", class: 'part-quantity' %>
    <%= f.label 'Part Number' %>
    <%= f.select("part_id[2]") do %>
      <% Part.all.map(&:part_no).uniq.each do |p| %>
      <%= content_tag(:option, p, value: p) %>
      <% end %>
    <% end %>
    <%= f.label 'Quantity' %>
    <%= f.text_field "quantity[2]", class: 'part-quantity' %>
    <% end %> -->


</section><!-- end new order page -->
