
<section id = "part-show-page">
<h3> <%= @parts[0].part_no %>: <%= @parts[0].name.capitalize %> </h3>
  <table >
    <thead>
    <tr>
      <th>Part Id</th>
      <th>Part Number</th>
      <th>Name</th>
      <th>Location</th>
      <th>Remove</th>
      <% if manager_logged_in? %>
        <th>Transfer</th>
      <% end %>
    </tr>
    <% @parts.each do |part| %>
      <tr>
        <td><%=part.id%></td>
        <td><%=part.part_no%></td>
        <td><%= part.name.capitalize %></td>
        <td><%= part.warehouse.location_code %></td>
        <td><%= link_to "Remove" %>  </td>
        <% if manager_logged_in? %>
          <td><%= link_to "Transfer", edit_part_url %> </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= link_to "Back", parts_url %>

</section>
