<tr>
  <th>Order Description: </th>
  <td> <%= @order.description %> </td>
</tr>
  <th>Warehouse: </th>
  <td> <%= @order.warehouse.location_code %> </td>
</tr>
<tr>
  <th>Order Name: </th>
  <td> <%= @order.order_name %> </td>
</tr>
<tr>

</table>
<h3>Parts</h3>
<table>
<tr>
<% @order.unique_parts.each do |part| %>
<th>Part Number</th>
<th>Part Name</th>
<th>Quantity</th>
</tr>
<tr>
<td> <%= part[0] %> </td>
<td> <%= part[1] %> </td>
<td> <%= @order.part_count(part) %> </td>
</tr>
<% end %>
