<section id = "order-index-page">
  <h1>Orders</h1>
  <!-- FIXME Uncomment and replace with correct model info IF NEEDED -->
  <% Order.all.each do |o|%>
    <h3><%= o.item_no %> <%= o.description %>  <%= o.warehouse_id %>  <%= o.manager_id %> :</h3>
    <%= render 'ordertable', parts: Part.unique_parts(o.id), warehouse: o.warehouse_id, manager: o.manager_id %>
  <% end %>
</section>
