<section id="new-order-page">
  <%= form_for :order, url: orders_path do |f| %>
  <h2>New Order</h2>

  <% if defined? @errors %>
    <div class="errors">
      <% @errors.each do |error| %>
      <p class="errors"><%= error %></p>
    </div>
      <% end %>
  <% end %>
    <%= f.label 'Order Name' %>
    <%= f.text_field :name %>
    <%= f.label 'Order Description' %>
    <%= f.text_field :description %>
    <%= f.label :warehouse %>
    <%= f.select(:warehouse_id) do %>
      <% Warehouse.all.each do |w| %>
      <%= content_tag(:option, w.location_code, value: w.id) %>
      <% end %>
    <% end %>


    <%= f.label 'Part Number' %>
    <%= f.select("part_no[1]") do %>
      <% Part.select(:part_no).map(&:part_no).uniq.each do |p| %>
      <%= content_tag(:option, p, value: p) %>
      <% end %>
    <% end %>

    <%= f.label 'Quantity' %>
    <%= f.text_field "quantity[1]", class: 'part-quantity' %>

    <%= f.label 'Part Number' %>
    <%= f.select("part_no[2]") do %>
      <% Part.select(:part_no).map(&:part_no).uniq.each do |p| %>
      <%= content_tag(:option, p, value: p) %>
      <% end %>
    <% end %>

    <%= f.label 'Quantity' %>
    <%= f.text_field "quantity[2]", class: 'part-quantity' %>

    <!-- <%= f.submit 'Add Another Part', class: 'submit-button' %> -->
    <%= f.submit 'Place Order', class: 'submit-button send-order' %>
  <% end %>
</section><!-- end new order page -->
