<section id="new-order-page">
  <%= form_for :order, url: orders_path do |f| %>
  <h2>Begin New Order</h2>

  <% if defined? @errors %>
    <div class="errors">
      <% @errors.each do |error| %>
      <p class="errors"><%= error %></p>
    </div>
      <% end %>
  <% end %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :warehouse %>
    <%= f.select(:warehouse_id) do %>
      <% Warehouse.all.each do |w| %>
      <%= content_tag(:option, w.location_code, value: w.id) %>
      <% end %>
    <% end %>
    <%= f.submit 'Next', class: 'submit-button send-order' %>
  <% end %>
</section><!-- end new order page -->
