
<section id='homepage'>
  <div id="homepage-container">
    <h1>Inventory Management Portal</h1>
      <% if manager_logged_in? %>
        <nav id="main-nav-manager">
          <ul>
            <li><%= link_to "Inventory", parts_path %></li>
            <!-- FIXME Manage Shipment url replace with :new -->
            <li><%= link_to "Manage Shipment", orders_path %></li>
            <!-- FIXME Place Order url replace with :new / new_order_path? -->
            <li><%= link_to "Place Order", new_order_path %></li>
          </ul>
        </nav>
      <% else %>
        <nav id="main-nav-employee">
          <ul>
            <li><%= link_to "Inventory", parts_path %></li>
            <!-- FIXME Manage Shipment url replace with :new -->
            <li><%= link_to "Manage Shipment", orders_path %></li>
          </ul>
        </nav>
      <% end %>

    <h2>How to use this site</h2>
    <p>Welcome to the Rutherford Rocket Labs Inventory Management Portal. website aims to streamline and automate inventory process, reduce error and increase organization. click inventory to see inventory by locaiton. click manage shipment to view orders and add inventory. click place order to place order.</p>
  </div>
</section>
