<!DOCTYPE html>
<html>
  <head>
    <title>RutherfordInventory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'style', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<<<<<<< HEAD
    <div class="banner-logo">
      <h1><%= link_to "Logo Placeholder", root_path %></h1>
    </div><!-- end banner logo -->
    <nav id="layout-header">
      <% if !logged_in? %>
        <ul>
          <li>
            <%= link_to "Login", root_path %>
          </li>
        </ul>
      <% else %>
      <ul>
        <li>
          Hello, <%= employee_logged_in.first_name %>
        </li>
        <li>
          <%= button_to "Logout", {action: "destroy", controller: "sessions"}, method: :delete %>
        </li>
      </ul>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
