<!DOCTYPE html>
<html>
  <head>
    <title>Rutherford Rocket Labs | Science Technology Engineering Math</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'style', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="banner-logo">
        <h4>
          <a href="/home">
            Rutherford<span>Rocket</span>Labs
          </a>
        </h4>
        <h1 id="main-logo">
          <a href="/home">
            <%= image_tag "rutherford-rockets-logo.svg" %>
          </a>
        </h1>
      </div><!-- end banner logo -->
      <nav id="layout-header">
        <% if !logged_in? %>
        <% else %>
          <ul>
            <li>
              Hello, <%= employee_logged_in.first_name %> |
            </li>
            <li>
              <%= button_to " Logout", {action: "destroy", controller: "sessions"}, {method: :delete, class: "logout"} %>
            </li>
          </ul>
      </nav>
        <% end %>
    </header>
    <%= yield %>
    <!-- <footer> -->
      <!-- <p>Martian Huggers, LLC all rights reserved</p>
    </footer> -->
  </body>
</html>
